<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/index/style.css" />
    <link rel="stylesheet" href="~/css/betslip/style.css" />
    <link rel="stylesheet" href="~/css/dashboard_shared/style.css" />
    <link rel="stylesheet" href="~/css/account/style.css" />
    <link rel="stylesheet" href="~/css/bets/style.css" />
    <link rel="stylesheet" href="~/css/wallet/style.css" />
    <link rel="stylesheet" href="~/css/notifications/style.css" />

    <link rel="stylesheet" href="~/css/partials/header_bar/style.css" />
    <link rel="stylesheet" href="~/css/partials/user_bar/style.css" />
    <link rel="stylesheet" href="~/css/partials/match/style.css" />
    <link rel="stylesheet" href="~/css/partials/possible_pick/style.css" />
    <link rel="stylesheet" href="~/css/partials/betslip_selection/style.css" />
    <link rel="stylesheet" href="~/css/partials/dashboard_side_menu/style.css" />
    <link rel="stylesheet" href="~/css/partials/bet_preview/style.css" />
    <link rel="stylesheet" href="~/css/partials/bet_selection/style.css" />
    <link rel="stylesheet" href="~/css/partials/wallet_transaction/style.css" />
    <link rel="stylesheet" href="~/css/partials/notification/style.css" />


</head>
<body>

    <div class="header-bar">
        <partial name="_HeaderBar" />
    </div>
    <div class="user-bar">
        @RenderSection("UserBar", required: false)
    </div>

    <div class="content-section">
        @RenderBody()
    </div>

    <div class="footer-bar">
        <partial name="_FooterBar" />
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="~/js/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
    <!-- Inside this section are placed the SignalrHub scripts
        (Sportsbook.signalrhub, Betslips.signalrhub and Betting.signalrhub)  -->
    @RenderSection("Scripts", required: false)

</body>
</html>
