@page
@model IdentityServerAspNetIdentity.Pages.SignoutModel
@{
    ViewData["Title"] = "Sign Out Page";
}
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<h3>Sign Out Page</h3>
<p>
    You have been signed out succesfully.
</p>
<form action="~/Index" method="GET">
    <button type="submit" class="btn btn-primary">Return to Home Page</button>
</form>