@page
@model IdentityServerAspNetIdentity.Pages.SigninModel
@{
    ViewData["Title"] = "Sign In Page";
}
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<h3>Sign In Page</h3>

<form asp-route-returnUrl="@Model.ReturnUrl" asp-page="">
    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" />
        <span asp-validation-for="Input.Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" />
        <span asp-validation-for="Input.Password"></span>
    </div>
    
    <button type="submit" class="btn-success">Sign In</button>
</form>
<p>Don't have an account? <a asp-page="/Auth/Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a></p>
<form action="~/Index" method="GET">
    <button type="submit" class="btn btn-primary">Return to Home Page</button>
</form>