@page
@model BettingApp.Services.Identity.API.Pages.IndexModel
@using Microsoft.AspNetCore.Identity
@using BettingApp.Services.Identity.API.Models
@inject SignInManager<ApplicationUser> SignInManager
@{
}

<h3>Home Page</h3>

@if (SignInManager.IsSignedIn(User))
{
    <p>
        Welcome @User.Identity.Name!
    </p>
    <form method="GET" asp-page="/Auth/Signout">
        <button type="submit" class="btn btn-primary">Sign Out</button>
    </form>
    <form method="POST" asp-page="/Index" asp-page-handler="ReturnToOriginalApplication" asp-route-returnUrl="@Model.ReturnUrl">
        <button type="submit" class="btn btn-primary">Return to Application</button>
    </form>
}
else
{
    <form style="display:inline" method="GET" asp-page="/Auth/Signin" asp-route-returnUrl="@Model.ReturnUrl">
        <button type="submit" class="btn btn-primary">Go to Sign In Page</button>
    </form>
    <form style="display:inline" method="GET" asp-page="/Auth/Register" asp-route-returnUrl="@Model.ReturnUrl">
        <button type="submit" class="btn btn-primary">Go to Register Page</button>
    </form>
}
